@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@font-face{
    font-family: Osake;
    src: url("fonts/Osake.ttf");
}

@font-face{
    font-family: RampartOne;
    src: url("fonts/RampartOne-Regular.ttf");
}

@font-face{
    font-family: OdaBalloon;
    src: url("fonts/OdaBalloon\ bold.ttf");
}

body
{
    background-image: url(imagens/background/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500;
}

#logo{
    width: 10%;  
    padding: 0;
    margin: 0;
}

#logo-mobile{
    display: none;
}

.navbar
{
    border:4px solid #000;
    border-radius: 8px;
    padding: 0.2%;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: 700;
}


.login{
    background-image: url(imagens/background/login-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cadastro{
    background-image: url(imagens/background/SVG/opacidade-manuel.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 980px){

main.flex-row{
    flex-direction: column !important;
}

section.me-5, section.ms-5{
    margin-left: 0!important;
    margin-right: 0!important;
}

section.login{
    margin-top: 3% !important;
    margin-bottom: 3%!important;
    width: 90% !important;
}

section.cadastro{
    margin-top: 3% !important;
    margin-bottom: 3%!important;
    width: 90% !important;
}

}

@media screen and (max-width: 575px){
    #logo-mobile{
        display: block;
        width: 15%;  
        padding: 0;
        margin: 0;
    }

    #logo{
        display: none ;
    }

    #seinen-sekai
    {
        display: none;
    }

    ul.dropdown-menu
    {
        border: none;
        background-color: #00000000;
    }
}

@media screen and (max-width: 501px){
    #senha-login.flex-row, #senha-cadastro.flex-row
    {
        flex-direction: column !important;
    }

    form{
        width: 115% !important;
    }

    #login-btns
    {
        margin-top: 0% !important;
    }

    #btn-senha
    {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 423px)
{
    #login-btns
    {
        flex-direction: column !important;
    }

    #login-btns > button
    {
        margin-left: 0% !important;
        margin-right: 0% !important;
        width: 100% !important; 
    }

    #btn-senha
    {
        font-size: 1rem !important;
        margin-top: 5% !important;
    }

    #btn-cadastro
    {
        width: 100% !important;
    }
}