@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@font-face{
    font-family: Osake;
    src: url("fonts/Osake.ttf");
}

@font-face{
    font-family: RampartOne;
    src: url("fonts/RampartOne-Regular.ttf");
}

@font-face{
    font-family: OdaBalloon;
    src: url("fonts/OdaBalloon\ bold.ttf");
}

body
{
    background-image: url(imagens/background/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500;
}

#logo{
    width: 10%;  
    padding: 0;
    margin: 0;
}

#logo-mobile{
    display: none;
}

.navbar
{
    border:4px solid #000;
    border-radius: 8px;
    padding: 0.2%;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: 700;
}


#text-div-right{
    text-align: justify;
}

section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.engloba-card{
    width: 20rem;
}

.card{
    background-color: #F7F7F7;
}

.text-card{
    font-family: OdaBalloon;
}

.kanji-card{
    font-family: RampartOne;
    writing-mode:vertical-lr;
}

.animacao-card:hover
{
    transform: scale(1.02);
    transition-duration: 1000ms;
}

.animacao-card
{
    transform: scale(1.0);
    transition-duration: 1000ms;
}

.descubra{
    text-transform: uppercase;
    color: #000;
}

.bi{
    color: #000;
}

#wiki
{
    cursor: pointer;
}

@media screen and (min-width:991px) and (max-width: 1199px)
{
    p#text-vinland
    {
        font-size: 1rem !important;
    }
}

@media screen and (min-width:768px) and (max-width: 991px)
{
    .animacao-card
    {
        margin-right: 10%;
    }
}

@media screen and (max-width: 991px)
{
    .animacao-card
    {
        margin-top: 4% !important;
    }
}

@media screen and (max-width: 700px)
{
    main.flex-row
    {
        flex-direction: column !important;
    }

    main.p-5
    {
        padding: 2% !important;
    }

    #div-left
    {
        width: 100% !important;
        margin-right: 0% !important;
    }

    #div-right
    {
        width: 100% !important;
    }
}



@media screen and (max-width: 575px){
    #logo-mobile{
        display: block;
        width: 15%;  
        padding: 0;
        margin: 0;
    }

    #logo{
        display: none ;
    }

    #seinen-sekai
    {
        display: none;
    }

    ul.dropdown-menu
    {
        border: none;
        background-color: #00000000;
    }
}

@media screen and (max-width: 518px){

    section.flex-row{
        flex-direction: column !important;
    }

    section{
        align-items: center !important;
        justify-content: center !important;
    }

    .animacao-card
    {
        width: 80% !important;
    }

    .kanji-card
    {
        font-size: 2.5rem !important;
    }
}